<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Granted</title>
</head>
<body style="background-image: url('https://wallpapercave.com/wp/wp5211474.jpg');">
    <h1 style="color: white; font-size: 10em; padding-top: 0.5em; padding-left: 1.5em;">Access Granted!!</h1>
</body>
</html>