<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details of Users</title>
</head>

<body style="background-image: url('https://wallpapercave.com/wp/wp5211474.jpg');">
    <div class="box">
        <%for(user of users){%>
            <h2 style="color: white;">
                <%=user.username%>
            </h2>
            <h3 style="color: white;">
                <%=user.dob%>
            </h3>
            <br style="border: 10px solid white;">
            <%}%>
    </div>
</body>

</html>