<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <img src="https://wallpapercave.com/wp/wp5211474.jpg" alt="none">
    <div id="home">
        <h1 id="wel">Welcome to <br><span style="font-size: 2em;">Instagram !!</span></h1>
        <div class="logo"><i class="fa-brands fa-instagram"></i></div>
    </div>
    <form method="get" action="/SignUp">
        <p class="click SignUp">New User?<button class="home_btn"> Sign Up <i class="fa-solid fa-user-plus pl"></i></button></p>
    </form>
    <form action="/SignIn">
        <p class="click SignIn">Already have an account?<span><button class="home_btn"> Sign In <i
                        class="fa-solid fa-right-to-bracket inl"></i></button></span></p>
    </form>
    <br><br><br><br><br>
    <h2><a href="/user/details">Details of all Users..Click here!!</a></h2>
</body>

</html>