<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="SignUp.css">
</head>

<body>
    <h1>Do fill up the below details to Sign Up</h1>
    <img src="https://wallpapercave.com/wp/wp5211474.jpg" alt="none">
    <div class="form">
        <form method="post" action="/SignUp">
            <br>
            <br><br>
            <label class="lb" for="user">Username: </label>
            <input class="ans" type="text" name="username" id="user">
            <br>
            <br>
            <br>
            <label class="lb" for="pass">Password: </label>
            <input class="ans" type="password" name="password" id="pass">
            <br><br><br>
            <label class="lb" for="dob">Date Of Birth:</label>
            <input class="ans" type="date" name="dob" id="dob">
            <br><br><br>
            <button class="SignUp">Sign Up</button>
        </form>
    </div>
</body>

</html>