<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <link rel="stylesheet" href="SignIn.css">
</head>

<body>
    <img src="https://wallpapercave.com/wp/wp5211474.jpg" alt="none">
    <br><br><br>
    <h1>Enter the details to Log In</h1>
    <div class="sign">
        <form method="post" action="/SignIn">
            <br>
            <br><br>
            <label class="lb" for="user">Username: </label>
            <input class="ans" type="text" name="username" id="user">
            <br>
            <br>
            <br>
            <label class="lb" for="pass">Password: </label>
            <input class="ans" type="password" name="password" id="pass">
            <br><br><br><br>
            <button class="SignIn">Sign In</button>
</body>

</html>